body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display:flex;
}

.right-panel {
    background-color: rgb(231, 253, 255);
    width: 50%;
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-panel {
    background-color: antiquewhite;
    width: 50%;
    display: flex;
    font-weight: 900;
    color: rgb(86, 86, 86);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    flex: 1 1 50%;
}

button {
    width: 200px;
    background-color: brown;
    color: white;
    border: none;
    padding: 0.5em 1em;
    margin: 40px 0px 0px 0px;
    font-size: 20px;
    box-shadow: 5px 5px 15px 5px #000000;
}

button:hover {
    background-color: rgb(99, 0, 0);
}

button:active {
    transform: translate(5px, 5px);
}

#myTable {
    width: 100%;
    margin: 20px;
    border-collapse: collapse;
    background-color: azure;
}

th, td {
    border: 1px solid rgb(148, 148, 148);
    padding: 10px;
}